body{
  background: #301471;
}
.user{
  margin-top: 7px;
  float: right;
}
.user img{
  margin-right: 7px;
  height: 35px;
  width: 35px;
  float: left;
  border-radius: 50%;
}
.user p{
  float: right;
}
